select,
input {
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid orange;
  background-color: white;
  height: 5dvh;
  color: black;
  width: 30dvh;
  box-sizing: border-box;
}

.destinasi {
  color: white;
  display: flex;
  margin-left: 50px;
  margin-top: 40px;
  gap: 10px;
}

.destinasi1,
.destinasi2 {
  display: grid;
}

.destinasi1 select,
.destinasi2 select,
.jadwal input {
  border: 1px solid orange;
  background-color: white;
  height: 5dvh;
  color: black;
  width: 30dvh;
  border-radius: 5px;
}

.jadwal {
  color: white;
  width: 30dvh;
  margin-left: 50dvh;
  display: grid;
}

.penumpang {
  color: rgb(255, 208, 0);
}

.penumpang select {
  color: rgb(255, 208, 0);
  width: 35dvh;
}

.penumpang select option {
  background-color: rgb(136, 136, 136);
}

.custom-select {
  background-color: rgba(255, 255, 255, 0.247);
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px 10px;
  width: 30dvh;
}

.ml-custom {
  margin-left: 400px;
}
