nav {
  border-bottom: 0.1px solid rgba(255, 255, 255, 0.2);
  height: 50px;
  display: flex;
  color: white;
  position: relative;
  width: 100%;
  z-index: 100;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
}

.bi-airplane {
  font-size: 40px;
  display: flex;
  align-items: center;
  margin-left: 20px;
  font-size: 30px;
  height: 100%;
}
.judul {
  height: 100%;
  display: flex;
  margin-left: 5px;
  font-size: 30px;
  align-items: center;
}
.menu {
  margin-left: 50px;
  text-align: center;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
.hotel,
.pesawat,
.bus,
.kereta,
.source {
  text-align: center;
  width: 25dvh;
  height: 10dvh;
  border-radius: 20px;
  margin: 10px;
}
.hotel:hover,
.pesawat:hover,
.bus:hover,
.kereta:hover,
.source:hover {
  cursor: pointer;
  border: 1px solid white;
  color: white;
}
.menu h2 {
  width: 100%;
  font-size: 20px;
}
.bi-building-fill,
.bi-train-front-fill,
.bi-bus-front {
  font-size: 25px;
}
.pesawat .bi-airplane {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  height: 100%;
  margin-top: -15px;
}
.menu-item {
  color: rgb(211, 211, 211);
}

.menu-item.active {
  background-color: white;
  color: orange;
  transform: scale(1.010);
  transition: 0.2s ease;
}
